    <nav class="navbar navbar-default navbar-static-top">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>                        
          </button>
          <a class="navbar-brand" href="/">Kenneth</a>
        </div>
        <div class="collapse navbar-collapse" id="myNavbar">
          <ul class="nav navbar-nav">
            
            <li><a href="profile">自傳簡歷</a></li>
            
            <li><a href="skills">技能專長</a></li>
            
            <li><a href="portfolio">我的作品</a></li>
            
            <li><a href="guest">訪客留言</a></li>
          
          </ul>
          <ul class="nav navbar-nav navbar-right">

            <li><a href="https://github.com/kenneth1003" target="_blank"><i class="fa fa-github-alt fa-lg"></i></a></li>
            <li><a href="https://www.facebook.com/profile.php?id=1815722997" target="_blank"><i class="fa fa-facebook-f fa-lg"></i></a></li> 

            <li><a href="https://www.linkedin.com/profile/view?id=AAMAABdAN5MBo4O_cdetVvPDk9hQnXs2Tm602fA&trk=hp-identity-name" target="_blank"><i class="fa fa-linkedin fa-lg"></i></a></li>
             
          </ul>
        </div>
      </div>
    </nav>