<!DOCTYPE html>
<html>
  <head>
    <title>張柏堅</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" href="favicon.ico" type="image/x-icon" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <link rel="stylesheet" href="css/main.css">
    <link rel="stylesheet" href="css/profile.css">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="javascript/jquery.requestAnimationFrame.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-animate.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-aria.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angular_material/1.0.0/angular-material.min.js"></script>
    <script src="javascript/angular-route.js"></script>
    <script src="javascript/app.js"></script>
    <style type="text/css">
      .main-container{padding:0;position: relative;perspective: 200px}
      .navbar.navbar-default.navbar-static-top{margin: 0}
      .index-perface{margin-top: 15px; max-width: 300px;display: none;position: relative;bottom:0;transition: bottom .7s}
      .index-bg{
        background: url('img/index-bg.jpg');
        background-size: cover;
        opacity: 0;
        min-height: 500px;
        transform: rotateY(3.5deg);
        transition: all 2s}
    </style>
  </head>
  <body ng-app="mainApp">
<!-- ========== I'm NAVBAR ==========  -->
  <% include partials/header %>
  <div class="main-container" ng-controller="profileCtrl">
    <div class="index-bg"></div>
    <p class="index-perface">
      我是一個前端工程師，喜好電腦科學，未來希望能朝不同的web領域中邁進，精進自己的技能，這是我的個人網站，請多多指教！
    </p>
</div>

  </body>
  <script type="text/javascript">
  $(document).ready(function(){
    $('.index-perface').delay(500).fadeIn(800);
    //setTimeout(function(){ $('.index-perface').css('bottom', 0)}, 1400)
    setTimeout(function(){ $('.index-bg').css('opacity', 1)}, 1300)
    setTimeout(function(){ $('.index-bg').css('transform', 'rotateY(0deg)')}, 1000)
  })
  </script>
</html>
