<!DOCTYPE html>
<html lang="en">
<head>
  <title>張柏堅</title>
  <link rel="icon" href="favicon.ico" type="image/x-icon" >
  <link rel="stylesheet" href="CSS/new.css">
  <meta charset="utf-8">
  <link rel="stylesheet" href="css/animate.css"></link>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
  <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">
  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
  <script src="JavaScript/myJS.js"></script>
  <script src="JavaScript/forResume.js"></script>
  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
</head>
<body id="body">



<!-- ========== I'm NAVBAR ==========  -->
<nav class="navbar navbar-default navbar-static-top">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>                        
      </button>
      <a class="navbar-brand" href="#">張柏堅</a>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav">
        
        <li><a href="/"><i class="fa fa-home fa-fw"></i>首頁</a></li>
        
        <li class="active"><a href="#"><i class="fa fa-graduation-cap fa-fw"></i>履歷自傳</a></li>
        
        <li><a href="project1"><i class="fa fa-picture-o fa-fw"></i>作品專區</a></li>
        
        <li><a href="guest"><i class="fa fa-comments-o fa-fw"></i>訪客留言</a></li>
      
      </ul>
      <ul class="nav navbar-nav navbar-right">

        <li><a id="email" href="#" data-toggle="popover" data-placement="bottom" data-trigger="click" data-content="kenneth06201003@gmail.com"><i class="fa fa-envelope fa-lg"></i></a></li>

        <li><a href="https://www.facebook.com/profile.php?id=1815722997" target="_blank"><i class="fa fa-facebook-f fa-lg"></i></a></li>

        <li><a href="https://www.linkedin.com/profile/view?id=AAMAABdAN5MBo4O_cdetVvPDk9hQnXs2Tm602fA&trk=hp-identity-name" target="_blank"><i class="fa fa-linkedin fa-lg"></i></a></li>

      </ul>
    </div>
  </div>
</nav>



<!-- ========== I'm JUMBOTRON ========== -->
    <div class="container">
      <div class="jumbotron" id="jumbotron" style="display:none">
        <div class="row">
          <div class="col-xs-3 myphoto">
          <img id="myphoto" src="img/myphoto2.jpg" class="img-thumbnail img-rounded"></img>
          </div>
          <div class='col-xs-12 col-sm-8' style="text-align:center">
            <h1><b>追求卓越</b></h1> 
            <h1><b>成功隨之而來</b></h1>
          </div>
        </div>
      </div>
    </div>



<!-- ========== CONTENT ========== -->
    <div class="container" align="center">
      <div id="tab">
        <div id="section2" class="col-xs-12">
          <ul class="nav nav-tabs">
            
            <li class="active"><a data-toggle="tab" href="#degree">學經歷</a></li>
            
            <li><a data-toggle="tab" href="#license">專長證照</a></li>
            
            <li><a data-toggle="tab" href="#autob">自傳</a></li>
          
          </ul>
          <div class="tab-content" >



<!-- ========== DEGREE ========== -->
            <div id="degree"class="container tab-pane fade in active ">
            </br>
              <div class="row" display="inline">
                <div id="nculogo"class="col-xs-6 col-md-3" >
                  <h3><i class="fa fa-graduation-cap fa-fw title"></i> 學歷</h3>
                  <img class="logo" id="nculogo" src="img/ncu.png"></img>
                  &nbsp;&nbsp;&nbsp;&nbsp;
                  <img class="logo" id="cyculogo" src="img/cycu.png"></img>
                </div>
                <div id="armylogo" class="col-xs-6 col-md-3">
                  <h3 id="armylogo"><i class="fa fa-briefcase fa-fw title"></i> 經歷</h3>
                  <img class="logo" id="armylogo" src="img/army.png"></img>
                </div>

                <div class="col-xs-11 col-md-5 position">  

                  <h4 id="master" style="display:none"><b>國立中央大學</b> 財務金融研究所 碩士 <small>2012/09-2014-07</small></h4> </br>
                  
                  <h4 id="assistent"style="display:none"><b>國立中央大學</b> 財務金融學系 系辦助理 <small>2012/09-2014-06</small></h4>
                
                </div>
                <div class="col-xs-11 col-md-5 position">  
                  
                  <h4 id="bachelor"style="display:none"><b>中原大學</b> 國際貿易與經營學系 學士 <small>2008/09-2012-06</small></h4>
                
                </div>
                <div class="col-xs-11 col-md-5 position">  
                  
                  <h4 id="officer"style="display:none"><b>陸軍後勤指揮部</b> 文宣心戰組 少尉政戰官 <small>2014/08-2015-07</small></h4> 
                
                </div>
              </div>
            </div>



<!-- ========== PROGRAMMING SKILL ========== -->
            <div id="license"class="container-fluid tab-pane fade">
            </br>
              <div class="col-sm-4 dottedBorder2">
                

                <h3><i class="fa fa-desktop fa-fw fa-1x"></i> 程式能力</h3>
                <a href="#" data-toggle="popover" data-placement="top" data-trigger="hover" data-content="HTML, CSS, JavaScript, jQuery, Bootstrap, Angular">   Web Client Side</a></br>
                <a href="#"  data-toggle="popover" data-placement="top" data-trigger="hover" data-content="Node.js, Ajax, Mongodb">   Web Server Side</a></br>
                <a href="#"  data-toggle="popover" data-placement="top" data-trigger="hover" data-content="Phonegap(Cordova): iOS, Android">   APP Development</a></br>
                <a href="#"  data-toggle="popover" data-placement="top" data-trigger="hover" data-content="R, Python, SAS, SQL">   Data Mining</a>
             

              </div>



<!-- ========== REWARD ========== -->
              <div class="col-sm-4">
                <h3><i class="fa fa-trophy fa-fw fa-1x"></i> 獲獎記錄</h3>
                <a  style="cursor:pointer" data-toggle="modal" data-target="#myModal4">全國大專盃撞球-亞軍 </a><span class="label label-info">click</span></br>
                <div class="modal fade" id="myModal4" role="dialog">
                  <div class="modal-dialog">
                    <div class="modal-content">
                      <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        
                        <h4 class="modal-title">2010年健行科技大學全國大專撞球邀請賽-192名參賽</h4>
                      
                      </div>
                      <div class="modal-body" >
                        <img src="img/pool.jpg" class="img-responsive img-thumbnail"></img>
                        
                        <p>獲得全國大專盃撞球亞軍；由於此項比賽競爭十分激烈，甚至有職業的大專選手參加，為了想挑戰自己的能耐，在自己兼任選手及教練下，我做了有計劃的練習及調整心態，最後得到不錯的成績，有了這次的經驗後能使我日後在做任何事都能更有信心更堅持，也相信自己追逐渴望達成的夢想時能做到最好。 </p>
                      
                      </div>
                      <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                      </div>
                    </div>
                  </div>
                </div>




                <a  style="cursor:pointer" data-toggle="modal" data-target="#myModal5">經濟學競試－冠軍 </a><span class="label label-info">click</span>
                  <div class="modal fade" id="myModal5" role="dialog">
                    <div class="modal-dialog">
                      <div class="modal-content">
                        <div class="modal-header">
                          <button type="button" class="close" data-dismiss="modal">&times;</button>
                          
                          <h4 class="modal-title">2011年中原大學卓越教學計畫經濟學競試-冠軍獎金一萬元</h4>
                        
                        </div>
                        <div class="modal-body">
                          <img src="img/economics.jpg" class="img-responsive img-thumbnail"></img>
                          
                          <p>在競賽中大幅領先第二名，體現了準備研究所經濟學的成果，也在研究所考試時通過了台灣大學以及政治大學的筆試。</p>
                        
                        </div>
                        <div class="modal-footer">
                          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        </div>
                      </div>
                    </div>
                  </div>
                  </br>
                </div>



<!-- ========== LICENSE ========== -->          
                <div class="col-sm-4 dottedBorder">
                  
                  <h3><i class="fa fa-book fa-fw fa-1x"></i> 專長證照</h3>
                  
                  <a href="#" title="ETS-2015/03" data-placement="top" data-toggle="popover" data-trigger="hover" data-content="良好的英語能力幫助我學習時運用更多的英文資源，大大提高學習的效率">TOEIC 900/990</a></br>
                  
                  <a href="#" title="SOA-2013/03" data-placement="top" data-toggle="popover" data-trigger="hover" data-content="此為美國精算協會機率學的考科，機率上的學習使程式上的思考更加敏銳">SOA EXAM P</a></br>
                  
                  <a href="#" title="SOA-2013/08" data-placement="top" data-toggle="popover" data-trigger="hover" data-content="此為美國精算協會財務數學的考科，數學上的訓練能幫助我的程式撰寫">SOA EXAM FM</a>
                
                </div>
                <div class="col-sm-4">
                  <h3><i class="fa fa-info fa-fw fa-1x"></i> 其它</h3>
                  <a type="button" data-toggle="collapse" style="cursor:pointer" data-target="#col1" >放棄替代役 </a>
                  <span class="label label-info">click</span>
                  <div id="col1" class="collapse" style="text-align:left">
                  
                    <p>選擇挑戰性高的義務役預備軍官，體驗不同予以往的生活，承擔更大的責任。</p>
                  
                  </div>
                  </br>
                  <a type="button" data-toggle="collapse" style="cursor:pointer" data-target="#col2">願意派駐海外 </a>
                  <span class="label label-info">click</span>
                  <div id="col2" class="collapse" style="text-align:left">
                   
                    <p>由於自身外語能力不錯，希望能在年輕時多擷取經驗，與更多不同文化背景的人合作。</p>
                  
                  </div>
                </div>
              </div>



<!-- ========== AUTOBIOGRAPHY PART1========== -->
              <div id="autob"class="container-fluid tab-pane fade">
              </br>
                <div class="col-sm-4 dottedBorder2">
                <h3><i class="fa fa-home fa-fw"></i>成長背景</h3>
                <button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#myModal">click me!</button>

                  <div class="modal fade" id="myModal" role="dialog">
                    <div class="modal-dialog">
    
                      <div class="modal-content">
                        <div class="modal-header">
                          <button type="button" class="close" data-dismiss="modal">&times;</button>
                          <h4 class="modal-title">成長背景</h4>
                        </div>
                        <div class="modal-body" style="text-align:left">
                          
                          <p>    我出生於香港，母語為粵語，父親為香港人，母親為台灣人，五歲時從香港回台灣定居，家庭成員有父母、哥哥及姐姐，父親的工作為上海飯店裝潢公司的國際業務經理，母親則是家庭主婦。平時家人間的互動緊密，父親即使不在台灣也會定期關心家人的生活情形，遇到困難時，家人總是互相關心加油打氣，形成我最重要的支柱和動力，從小父母灌輸我的觀念並非物質上或金錢上的滿足，而是無形卻是最重要的價值觀，例如親人朋友間的相處、誠信以及知足常樂等等。</p>

                          
                          <p>在就讀研究所時接觸到程式撰寫，因而對資訊領域產生濃厚的興趣，在程式撰寫的作業和考試都有很好的表現；論文寫作時，程式撰寫往往是同學常遇到的瓶頸，但我都能順利地完成；在預備軍官考試的計算機概論取得了相對高的分數，使我能取得第一志願政戰官的資格；在服兵役的期間決定朝相關的領域發展，發揮在這一方面的所長，我的英文能力也使我能更有效地利用多種管道學習程式語言、資料結構以及資料庫系統等相關的知識，滿足自己對於資訊領域學習的渴望，目前自學HTML, CSS, JavaScript, jQuery等等網站開發的技術，期望這些技能能與實務界接軌，創造價值。</p>
                        
                        </div>
                        <div class="modal-footer">
                          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>




<!-- ========== AUTOBIOGRAPHY PART2========== -->
                <div class="col-sm-4">
                  <h3><i class="fa fa-child fa-fw"></i>人格特質</h3>
                  <button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#myModal2">click me!</button>

                    <div class="modal fade" id="myModal2" role="dialog">
                      <div class="modal-dialog">
  
                        <div class="modal-content">
                          <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                            <h4 class="modal-title">人格特質</h4>
                          </div>
                          <div class="modal-body" style="text-align:left">
                            
                            <p>人格特質方面，我善於獨立思考，平時喜歡玩需要動腦的遊戲，面對問題時，我不會馬上尋求答案，而是在思考各種可能性後再嘗試解答，以客觀的角度探究問題，培養獨立思考的能力；在準備研究所入學考試時，我與大多數的學生不同，靠著自己研讀書籍在筆試取得了好成績，重榜多間學校，邏輯思考也讓我在研究所時完成許多的資料處理程式撰寫。</p>

                            <p>我具備沈著與抗壓性的特質，由於我的興趣是打撞球，在大專盃的比賽中拿下個人第二名優異的成績，能有這樣的結果，除了事前的練習與投入，最重要的是在關鍵時刻面對高壓下仍保有正常的水準；在擔任政戰官時，除了平時需要完成例行的業務外，也時常需要處理突如其來的任務，因此面臨到很大的時間壓力，我仍然能照常完成並保持平時的工作表現，得到長官的信賴。</p>

                            <p>除此之外我熱愛學習，不自我設限，在大二的時候首次接觸鋼琴，短暫時間內就即習得世界名曲，打破多數人認為成人在技能學習上會有所限制的框架；預備軍官受訓時，同儕都來自於國內一流學府，但是在學習的積極度及熱誠，我都比同儕表現更為突出。最後，我對許多事情都有著一份堅持，曾於跨年時從中壢溜直排輪到總統府，縱使技術不好，還是堅持靠自己到達成，立下的目標一定盡力完成，未達到目標以前，不輕言放棄!</p>
                          
                          </div>
                          <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>




<!-- ========== AUTOBIOGRAPHY PART3========== -->                  
                  <div class="col-sm-4 dottedBorder">
                    <h3><i class="fa fa-forward fa-fw"></i>未來展望</h3>
                    <button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#myModal3">click me!</button>

                    <div class="modal fade" id="myModal3" role="dialog">
                      <div class="modal-dialog">
    
                        <div class="modal-content">
                          <div class="modal-header">
                          <button type="button" class="close" data-dismiss="modal">&times;</button>
                          <h4 class="modal-title">未來展望</h4>
                        </div>
                        <div class="modal-body" style="text-align:left">
                          
                          <p>最後，我相信憑藉著我正向的人格特質、對於財務金融領域廣泛的認識、程式能力、語文能力以及在擔任政戰官學到的團隊合作經驗，能職場上相關領域有所發揮，我也將不斷地保持學習產業相關的知識、加強自身的競爭力，鞭策自己不斷向前；在積極認真的自我學習和團隊經驗累積中，期許自身能成為一位能獨當一面的工作者，和所屬團隊有效地完成公司指派任務和自我設定的目標。 </p>
                        
                        </div>
                        <div class="modal-footer">
                          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
