<!DOCTYPE html>
<html>
  <head>
    <title>張柏堅</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" href="favicon.ico" type="image/x-icon" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <link rel="stylesheet" href="css/main.css">
    <link rel="stylesheet" href="css/skills.css">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-animate.min.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-aria.min.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/angular_material/1.0.0/angular-material.min.js"></script>

    <script src="javascript/app.js"></script>
  </head>
  <body ng-app="mainApp">
<!-- ========== I'm NAVBAR ==========  -->
  <% include partials/header %>
  <div class="main-container">
    <span class="num-ins-toggle">數字説明</span>
    <p class="num-instruction">
    <span class="skill-level">3</span> 工作上經常使用，相對其他技能更能靈活運用<br />
    <span class="skill-level">2</span> 工作上未使用或少使用，但自己有做某種程度的學習，有一定程度的了解<br />
    <span class="skill-level">1</span> 知道這項技術且有基本操作過，如有必要，能快速學習上手
    </p>
    <div class="">
      <div class="intro-box exp">
        <h3>前端</h3>
        <hr>
          <ul class="skill-list front-end">
            <li>Javascript</li><span class="skill-level">3</span> |
            <li>jQuery</li><span class="skill-level">3</span> |
            <li>AngularJS</li><span class="skill-level">2</span> |
            <li>CSS</li><span class="skill-level">3</span> |
            <li>SASS</li><span class="skill-level">2.5</span> |
            <li>RWD</li><span class="skill-level">3</span> |
            <li>HTML</li><span class="skill-level">3</span> |
            <li>Canvas</li><span class="skill-level">1.5</span>
            <li>d3</li><span class="skill-level">1.5</span>
          </ul>
          <div class="skill-desc">
            <p>對於繼承、閉包等物件導向Javascript概念有一定程度了解，目前工作接觸邏輯控制的部份較少，希望未來能有更多這方面的挑戰</p>
            <p>能以jQuery簡潔的代碼，做UI各種效果、動畫，以及HTML DOM的操作，AJAX請求等等功能</p>
            <p>熟悉ng-Directive、自定Directive、filter和路由控制等等的運用，雖然目前工作上沒有使用，但在這塊的自我學習上投入了相對多的心力，此個人網站是我嘗試運用MEAN stack所搭建的</p>
            <p>為當前工作的主要接觸內容，了解其命名架構、撰寫原則、有BEM的概念，能寫出易於維護的代碼</p>
            <p>目前工作團隊中尚未使用SASS，但在個人作業時多數使用之，了解其撰寫原則，將元件，layout、mixins等等分別撰寫再組成</p>
            <p>能使用grid system, flex box, media query做出合適的設計</p>
            <p>了解HTML語意標籤、基本SEO、網站效能概念</p>
            <p>了解運作方式，也實際操作過，能做一些簡單的動畫引擎</p>
            <p>在工作專案中有使用過，對於基本長條、圓餅圖等建構與動畫熟悉</p>
          </div>
          <div>

          </div>
      </div>
      <div class="intro-box grow">
        <h3>後端</h3>
        <hr>
        <ul class="skill-list back-end">
          <li>NodeJS</li><span class="skill-level">2</span> |
          <li>ExpressJS</li><span class="skill-level">2</span> | 
          <li>Mongodb</li><span class="skill-level">1.5</span>
        </ul>
        <div class="skill-desc">
            <p>對於NodeJS async的運作有基本概念，懂得運用其中的模組完成一些任務(如：從網路上搜爬一些資訊)</p>
            <p>能做基本的路由控制、使用擴充模組、模版使用等等功能，此個人網站就是使用Express所搭建</p>
            <p>能使用基本query以及使用mongoose模組與Express串接存取資料</p>
        </div>
      </div>
      <div class="intro-box char">
        <h3>其他</h3>
        <hr>
        <ul class="skill-list other">
          <li>PhoneGap</li><span class="skill-level">2</span> |
          <li>R</li><span class="skill-level">1.5</span> |
          <li>Statistics skill</li><span class="skill-level">2</span> ｜
          <li>Git(Github)</li><span class="skill-level">2</span> 
        </ul>
        <div class="skill-desc">
            <p>能基本使用手機擴功能(定位、照相等)，寫過測試基本功能使用的跨平台APP，能在IOS與Android系統上使用</p>
            <p>研究所論文寫作有對於R資料處理的部份研究學習</p>
            <p>財金所對於數字分析處理的訓練札實，能對於商業數字做出適當的統計分析</p>
            <p>公司共同專案使用github管理，了解基本團隊共同專案的作業流程，個人的練習、專案也使用git</p>
        </div>
      </div>
      <div class="intro-box future">
        <h3>證照</h3>
        <hr>
        <ul class="skill-list certi">
          <li>TOEIC 900/990</li><span class="skill-level">3</span> |
          <li>SOA EXAM P</li><span class="skill-level">3</span> |
          <li>SOA EXAM FM</li><span class="skill-level">3</span>
        </ul>
        <div class="skill-desc">
          <p>良好的英語能力幫助我學習時運用更多的英文資源，大大提高學習的效率，也能和使英語溝通的工作者溝通</p>
          <p>此為美國精算協會機率學的考科，機率上的學習使程式上的思考更加敏銳</p>
          <p>此為美國精算協會財務數學的考科，數學上的訓練能幫助我的程式撰寫</p>
        </div>
      </div>
    </div>
  </div>


  </body>
  <script>
    $(document).ready(function(){
      var idx;
        $('.num-ins-toggle').click(function(){
          $('.num-instruction').slideToggle();
        })
        $('.skill-list li').click(function(){
          var nth = $(this).index()/2;
          if(idx === nth){
            return;
          }else{
            idx = nth;
          }
          var parent = $(this).parent();
          var color = parent.siblings('h3').css('color');
          var p = parent.siblings('.skill-desc').find('p');
          parent.find('li').css('border-bottom', 'none');
          $(this).css('border-bottom', '2px solid ' + color);
          p.css('display', 'none');
          p.eq(nth).fadeIn();
        })
        $('.see-all').click(function(e){
          e.preventDefault();
          var p = $(this).parent().siblings('.skill-desc').find('p');
          p.css('display', 'block');
        })
    });
</script>
</html>
