.num-instruction {
  color: #888;
  margin-top: 15px;
  display: none; }

.num-ins-toggle {
  cursor: pointer;
  padding: 5px 15px;
  border: 1px #999 solid;
  border-radius: 3px;
  transition: all .2s; }
  .num-ins-toggle:hover {
    background-color: #eee; }

.intro-box h3 {
  margin-top: 5px; }

.intro-box.exp h3 {
  color: #2196F3;
  border-left: 3px solid #2196F3;
  padding-left: 8px; }

.intro-box.grow h3 {
  color: #4CAF50;
  border-left: 3px solid #4CAF50;
  padding-left: 8px; }

.intro-box.char h3 {
  color: #FF9800;
  border-left: 3px solid #FF9800;
  padding-left: 8px; }

.intro-box.future h3 {
  color: #D32F2F;
  border-left: 3px solid #D32F2F;
  padding-left: 8px; }

.intro-box p {
  text-indent: 28px;
  line-height: 2.2; }

.intro-box {
  border: 1px solid #ddd;
  padding: 15px;
  margin: 20px 0;
  box-shadow: 1px 3px 5px #e5e5e5; }

.skill-desc p {
  display: none;
  text-indent: 0; }

.skill-desc p:first-child {
  display: block; }

.skill-list {
  padding-left: 0; }

.skill-list li {
  display: inline;
  padding: 2px 3px;
  cursor: pointer; }

.skill-level {
  color: #666;
  font-size: 11px;
  padding: 0px 4px;
  background: #ddd;
  border-radius: 2px; }

.front-end li:first-child {
  border-bottom: 2px #2196F3 solid; }

.back-end li:first-child {
  border-bottom: 2px #4CAF50 solid; }

.other li:first-child {
  border-bottom: 2px #FF9800 solid; }

.certi li:first-child {
  border-bottom: 2px #D32F2F solid; }

.see-all {
  float: right; }
